<footer class="footer" itemscope itemtype="https://schema.org/WPFooter">
	<div class="footer__wrapper">
		<div class="footer__block_abt">
			<p>
				<em>New York City Marathon 2018 Updates</em> covers all the latest news and updates about the <a href="/">New Your City Marathon 2018</a> event and other Marathon and athletic events.</p>
				<p>Find all the latest updates, TV Channel guides, Runners, routes, rules and latest news right here. We will be publishing all the updates along live running stats, highlights, photos and videos.</p>
		</div>
		<div class="footer__nav">
			{% twitter https://twitter.com/nycmarathon height= limit=1 %}
		</div>
		<div class="footer__social">
			<nav role="navigation" class="footer__social__nav">
				<ul class="footer__social__nav__list">
					<li class="nav-item item"><a href="#top"><i class="icon icon-facebook"></i> Facebook</a></li>
					<li class="nav-item item"><a href="#author"><i class="icon icon-twitter"></i> Twitter</a></li>
					<li class="nav-item item"><a href="#search"><i class="icon icon-google-plus"></i> Google+</a></li>
					<li class="nav-item item"><a href="#search"><i class="icon icon-pinterest"></i> Pinterest</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="footer__copy">
		<p>© 2018 NY City Marathon 2018. All rights reserved. Articles copyright NY City Marathon 2018 and individual authors.</p>
	</div>
</footer>