<section class="header__sub">
	<div class="header__sub_h">
		<div class="header__sub_h_j">
			<h2 class="header__sub_title">{{ site.title }}</h2>
			<!-- <nav class="header__sub_nav left-aligned" itemscope itemtype="https://schema.org/SiteNavigationElement">
				<ul class="header__sub_nav_list dropdown" data-dropdown-menu data-disable-hover>
					<li class="nav-item item menu-text lang-switcher">EN<i class="icon icon-down"></i>
						<ul>
							<li>English</li>
							<li>Bangla</li>
							<li>French</li>
							<li>Dutchland</li>
						</ul></li>
				</ul>
			</nav> -->
		</div>
		<nav class="header__sub_nav right-aligned">
			<ul class="header__sub_nav_list">
				<li class="nav-item item"><a href="#"><i class="icon icon-facebook"></i></a></li>
				<li class="nav-item item"><a href="https://twitter.com/NY_CityMarathon"><i class="icon icon-twitter"></i></a></li>
				<li class="nav-item item"><a href="#"><i class="icon icon-google-plus"></i></a></li>
				<li class="nav-item item"><a href="#"><i class="icon icon-pinterest"></i></a></li>
			</ul>
		</nav>
		<nav class="header_sub_sub" itemscope itemtype="https://schema.org/SiteNavigationElement">
			<ul class="header__sub_sub_nav">
				<li class="menu-text button">Expand your knowledge:</li>
				{% if site.primary_nav %}
					{% for item in site.primary_nav %}
						{% if item[1] contains '://' %}
					        {% assign url = item[1] %}
					    {% else %}
					        {% assign url = item[1] | relative_url %}
					    {% endif %}
					    <li class="nav-item item">
					    	<a href="{{ url }}" itemprop="url">{{ item[0] }}</a>
					    </li>
					{% endfor %}
				{% endif %}
			</ul>
		</nav>
	</div>
</section>